@using Books.WebApp.App_LocalResources
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - @AppUI.SiteName</title>
    @Styles.Render("~/Content/css")
</head>
<body class="d-flex flex-column h-100">
	@Html.Partial("_Header")
	<main class="mb-3">
		@RenderBody()
	</main>
	@Scripts.Render("~/bundles/vendors")
	@Scripts.Render("~/bundles/app")
	@RenderSection("scripts", required: false)
	@Html.Partial("_Footer")
</body>
</html>
